.footer {
  background-color: #141414;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.text {
  margin: 0;
  font-size: 0.9rem;
}

.links {
  margin-top: 10px;
}

.links a {
  color: #e50914;
  font-size: 0.9rem;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.links a:hover {
  color: white;
}
