.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  gap: 3rem;
}

.heading {
  font-size: 2rem;
  color: #e50914;
  margin-bottom: 20px;
}

.form {
  background-color: #141414;
  color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: #e50914;
}

.submitButton {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #f40612;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
  outline: none;
  box-shadow: 0 0 0 3px rgba(229, 9, 20, 0.5);
}
