.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #141414;
  border-radius: 5px;
}

.logo a {
  color: #e50914;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.navLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 15px;
}

.navLinks a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #e50914;
}
