.container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.input {
  padding: 10px;
  font-size: 1rem;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.button:hover {
  background-color: #f40612;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
  outline: none;
  box-shadow: 0 0 0 3px rgba(229, 9, 20, 0.5);
}
